---
title: Home
---
.flex.flex-wrap.p2
  .larrow.col-1.border-box{:onclick => "left()"}
    .left_arrow.py4.px1.left
      <i class="fa fa-arrow-left fa-lg"></i> 

  - data.streets.each do |street|
    .col-10.border-box{:id => street.id}
      %h2.center= street.name
      .data_box.rounded.p2.px3{:id => street.id + "_data"}
        - street.days.each do |day|
          .vbox.my2
            .flex.justify-between
              .day
                .day_name= day.dayname
              .weather= day.temp
              .footfall
                ="%5.0f (%0.3f)" % [day.footfall, day.modifier]

  .rarrow.col-1.border-box{:onclick => "right()"}
    .right_arrow.py4.px1.right
      <i class="fa fa-arrow-right fa-lg"></i> 
